.pedro{
    text-align: center;
    color: darkkhaki;
}
body{
    background-color: black;
}
.pedro2{
    width: 500px;
    height: 500px;
}
.hoje{
    color: darkkhaki;
    text-align: center;
}
  .kk{
            color: darkkhaki;
            text-align: center;
        }

.hax {
    color: darkkhaki;
    text-align: center;
}
.pupu{
    color: darkkhaki;
    text-align: center;
}
.erro1{
    color: darkkhaki;
}
.erro2{
    color: darkkhaki;
}
.erro3{
    color: darkkhaki;
   
}